.button{

    border: none;
    outline: none;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:active{
        transform: scale(0.9);
    }

   
}

& .primary-button{
    background-color: #e1513e;
    color: white;
}